// Fonts Size
$standar: 1rem; //16px
$xs_1: $standar - 0.25; //12px
$xs_2: $standar - 0.125; //14px
$md_2: $standar + 0.125; //18px
$lg_1: $standar + 0.25; //20px
$lg_2: $standar + 0.5; //24px
$xl_1: $standar + 0.875; //30px
$xl_2: $standar + 1.25; //36px
$xxl_1: $standar + 2; //48px
$xxl_2: $standar + 2.75; //60px

// Breakpoints
$sm: 600px;
$md: 768px; // Tablets
$lg: 1024px; // Escritorios pequeños
$xl: 1280px; // Escritorios grandes
$xxl: 1536px; // Pantallas
