@use "../../../../../styles.scss" as *;

$gray: map-get($map: $bgColors, $key: gray-general);

.header{
  padding: 10px;
  @include flex($justify: space-between);

  @include respond-to($size: medium){
    display: none;
  }

  &__logo {
    width: 90px;
    @include flex($justify: space-between);
    img{
      max-width: 100%;
    }
  }

  &__toggle{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      transform: scaleX(-1);
    }
    i{
      font-size: $lg_1;
      color: $gray;
    }
  }
}
